.clickable {
  cursor: pointer;
}
.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
