/** @format */
/* 
@font-face {
  font-family: "Saans TRIAL";
  src: url("/fonts/SaansTRIAL-Light.woff2") format("woff2"),
    url("/fonts/SaansTRIAL-Light.woff") format("woff"),
    url("/fonts/SaansTRIAL-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Saans TRIAL", sans-serif;
} */
